/*--------------- import Files ---------------------------------------------------------------------*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/*-------------------- Root ---------------------------------------------------------------------*/
:root {
    /*===== Fonts =====*/
    --font-logo: 'Courgette';
    --font-title: 'Poppins';
    --font-dm-sans: 'DM Sans';
    --font-great-viber: 'Great Vibes';
    --font-nunito: 'Nunito';

    /*===== Cores =====*/
    --color-black: #000;
    --color-white: #fff;
    --background-color-section: #a9a8a8;


    /*----- Primaria -----*/
    --Primary-color-100: #F0C783;
    --Primary-color-200: #EBB153;
    --Primary-color-300: #E8A133;
    --Primary-color-400: #E4921D;
    --Primary-color: #E0871A;
    --Primary-color-600: #DA7916;
    --Primary-color-700: #D36A13;
    --Primary-color-700: #C85410;
    


    /*----- Secundaria -----*/
    --Secundary-color-100: #A85C2D;
    --Secundary-color-200: #8F420F;
    --Secundary-color-300: #8F420F;
    --Secundary-color-400: #83390A;
    --Secundary-color: #732C02;
    --Secundary-color-600: #651D00;
    --Secundary-color-700: #560A00;


    /*----- Grey -----*/
    --grey-100: #E9E9E9;
    --grey-200: #C7C7C7;
    --grey-300: #c9c9c9;
    --grey-400: #808080;
    --grey-500: #4B4B4B;
    --grey-600: #6B6B6B;
    
    /*----- Padding -----*/
    --spacing-0: 0px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
}


*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}



button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 40px;  /*espaço do titulo de cima*/
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}





/* ======== MENU section start ======================================================================*/
.header_section {
    width: 100%;
    float: left;
    background-color: var(--background-color-section);
    height: auto;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-nav {
    margin-right: 10%;  /*espaço da direita menu*/
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 17px;
    color: var(--color-black);
    border-radius: 5px;
    font-family: var(--font-logo);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-white);  /*Cor passando o mouse*/
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--color-white);
}

.navbar-brand {
    margin: var(--spacing-0);
    color: var(--color-white) !important;
    width: 50px;
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
}

.flex-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar {
    padding: 15px 50px;
}

/* ======== MENU section end ======================================================================*/








/* ======== HOME section start ======================================================================*/
.home__section {
    width: 100%;
    float: left;
    background-color: var(--background-color-section);
}

.home__conteudo {
    display: flex;
    justify-content: center;
    gap: var(--spacing-20);
}

.home__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home__info-titulo {
    font-family: var(--font-great-viber);
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: var(--Primary-color);
}

.home__info-sub {
    font-family: var(--font-title);
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 70%;
    color: var(--color-white);
}

.home__info-btn {
    display: flex;
    gap: var(--spacing-20);
}

.home__info-btn-1 {
    padding: 10px 40px;
    background-color: var(--Primary-color);
    color: var(--color-white);
    border-radius: 9px;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.home__info-btn-2 {
    padding: 10px 40px;
    border-radius: var(--spacing-8);
    background-color: transparent;
    color: var(--Primary-color);
    border: 1px rgba(0, 0, 0, 0.4) solid;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* ======== HOME section end ======================================================================*/














/* ======== PRODUTO section start ======================================================================*/
.produto__section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.produto__titulo {
    width: 100%;
    float: left;
    color: var(--color-black);
    text-align: center;
    padding-bottom: var(--spacing-0);
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
}

.produto__subtitulo {
    width: 60%;
    margin: auto;
    font-family: var(--font-title);
}

.produto__section_2 {
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
}

.flex-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.produto__card {
    width: 342px;
    height: 503px;
    background-color: var(--grey-300);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 3px 38px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5px);
    border-radius: var(--spacing-12);
}

.produto__card-img-img {
    width: 342px;
    height: 222px;
    border-radius: 12px 12px 0 0;
}

.produto__card-conteudo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 30px;
}

.produto__card-head {
    display: flex;
    flex-direction: column;
}

.produto__card-titulo {
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.produto__card-sub {
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.produto__card-descri {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.produto__card-risco {
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.produto__card-tamanho {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.produto__card-tamanho-titulo {
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.produto__card-tamanho-flex {
    display: flex;
    gap: 5px;
}

.produto__card-tamanho-item {
    background-color: var(--background-color-section);
    padding: 6px 14px;
    border-radius: var(--spacing-8);
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.produto__card-btn {
    padding: 10px 16px;
    background-color: var(--Primary-color);
    width: 128px;
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-radius: var(--spacing-8);
    text-align: center;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 50%;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 50%;
    color: var(--grey-100);
    background-color: var(--grey-500);
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: var(--grey-500);
    background-color: var(--grey-200);
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}

/*--------- modal start --------------*/

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
	display: block;
}
.modal-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;	
    width: 300px;
    height: 400px;
    background-color: var(--color-white);
    box-sizing: border-box;
    z-index: 9999;
}
.modal > p {
	padding: 15px;
    margin: 0;
}
.modal-header {
	background-color: var(--grey-200);
    border-bottom: 1px solid var(--grey-200);
    box-sizing: border-box;
    height: 50px;
}
.modal-header h3 {
	margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 25px;
    color: #4d4d4d;
    font-size: 16px;

    
}
.modal-header label {
	box-sizing: border-box;
    float: right;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header label:hover img {
	opacity: 0.6;
}

.example-label {
    padding: 10px 16px;
    background-color: var(--Primary-color);
    color: var(--color-black);
    font-family: var(--font-dm-sans);
    text-align: center;
    border-radius: var(--spacing-8);
    width: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}
.example-label:hover {
	background-color: #797979;
}

.modal__flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal__container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.modal__title{
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
}

/*--------- modal start end ----------------*/

/* ======== PRODUTO section end ======================================================================*/







/* ======== SOBRE section start ======================================================================*/
.sobre__section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-color: var(--background-color-section);
}

.sobre__titulo {
    width: 100%;
    float: left;
    color: var(--color-black);
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
}

.sobre__conteudo {
    width: 60%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sobre__texto {
    color: var(--color-white);
    text-align: justify;
    font-family: var(--font-title);
}

.sobre__card-section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sobre__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 322px;
    height: 296px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.sobre__card-titulo {
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.sobre__card-sub {
    width: 266px;
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    color: rgba(54, 54, 54, 0.7);
}

.sobre__space {
    margin-top: 6%;
}

/* ======== SOBRE section end ======================================================================*/





/* ======== CONTATO section start ======================================================================*/
.contato__section {
    width: 100%;
    float: left;
}

.contato__titulo {
    width: 100%;
    float: left;
    color: #3b3b3b;
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
}

.contato__conteudo {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.contato__btn {
    display: flex;
    gap: 40px;
}

.contato__btn-section {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 24px;
    border: 1px var(--grey-300) solid;
    border-radius: 40px;
    box-shadow: 5px 8px rgba(0, 0, 0, 0.05);
}

.contato__btn-titulo {
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-black);
}

.contato__btn-sub {
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #797979;
}

.contato__map iframe {
    border-radius: 8px;
    z-index: 1;
}

.contato__card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 510px;
    height: 145px;
    border: 1px black solid;
    border-radius: 8px;
    z-index: 2;
    margin-top: -8%;
    background-color: var(--color-white);
}

.contato__card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contato__card-titulo {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
}

.contato__card-sub {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}

.contato__card-phone,
.contato__card-hora,
.contato__card-mail,
.contato__card-pin {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 214px;
}

.contato__social {
    display: flex;
    gap: 50px;
}

.contato__social-face,
.contato__social-insta,
.contato__social-whats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contato__social-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.contato__social-icon {
    font-size: 32px;
    color: #fff;
    padding: 15px;
    border-radius: 18px;
    text-align: center;

}

.color-icon-1 {
    background-color: blue;
}

.color-icon-2 {
    background-color: #b94e12;
}

.color-icon-3 {
    background-color: #2FCE21;
}

.contato__social-titulo {
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.8;
    color: #000;
}

.contato__social-sub {
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #a9a8a8;
}

/* ======== CONTATO section end ======================================================================*/


/* footer section start */

.footer__section {
    width: 100%;
    float: left;
    margin-top: 6%;
    height: auto;
    background-size: 100% 100%;
    padding: 10px 0px 0px 0px;
    background-color: #363636;
    height: auto;
    -webkit-box-shadow: 0px -20px 72px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px -20px 72px 0px rgba(0,0,0,0.38);
    box-shadow: 0px -20px 72px 0px rgba(0,0,0,0.38);
}

.footer__conteudo {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__Titulo {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #E0871A;
}

.footer__empresa {
    display: flex;
    flex-direction: column;
}

.footer__img-logo {
    width: 100px;
}

.footer__sobre {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px !important;
}

.footer__nav-ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__nav-li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}


.footer__parceiros {
    display: flex;
    flex-direction: column;
}

.footer__parceiros-conteudo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__contato {
    display: flex;
    flex-direction: column;
}

.footer__infos {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.footer__social-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer__social {
    background-color: #E0871A;
    padding: 5px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-icon {
    color: #fff;
    font-size: 26px;
}

.footer__risco {
    border: 1px solid white;
    width: 90%;
    margin: 10px auto;

}

.footer__copy {
    width: 90%;
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.footer__all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__links a {
    color: #fff;
}


/* footer section end */